body {
  overflow: hidden;
  font-family: Courier;
}

.hidden {
  display: none;
}


#UserInput{
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 50px;
}

#GameText{
  margin: 10px;
  padding: 10px;
  height: 15%;
  backgroud-color: Red;
}
