html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
  font-family: Courier;
}

.hidden {
  display: none;
}


#UserInput{
  margin: 10px;
  padding: 10px;
  width: 5px;
}

#GameText{
  margin: 10px;
  padding: 10px;
  backgroud-color: Red;
}
